{{page-title "Draft Card"}}

<div class="text-center">
  <h1>Marvel Champions Draft</h1>
  <h2 class="display-4">Drafting for {{this.model.hero.name}} ({{this.faction}})</h2>
</div>
<div class="container">
  <p>Cards Left: {{this.cardsLeft}}</p>
  <CardPicker @cards={{this.cardSelection}} @action={{this.select}} />
</div>

<div class="container">
  <Deck @cards={{this.selectedCardObjects}} />
</div>
